.tag {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--blue);

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: -10px;
        width: 2px;
        height: 13px;
        background-color: var(--highlight);
    }
}

.adjust-position {
    margin-left: 12px;
}