.project-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;

        &:nth-of-type(2n) {
            flex-direction: row;
            border: 1px solid red;
        }
    }

    .project-image {
        width: 90%;
        height: 90vw;
        background-position: center;
        background-size: cover;

        @media screen and (min-width: 768px) {
            width: 450px;
            height: 450px;
        }

        @media screen and (min-width: 1024px) {
            width: 400px;
            height: 400px;
        }

        @media screen and (min-width: 1280px) {
            width: 461px;
            height: 461px;
        }
    }

    .project {
        width: 90%;
        padding: 50px 0 100px 0;

        .project-title {
            font-family: var(--cursive);
            font-size: 24px;
            font-weight: 400;
            color: var(--dark);
            margin-top: 0;
            margin-left: 0;
        }

        .project-desc {
            font-size: 14px;
            margin: 22px 0 40px 0;
            color: var(--blue);
        }

        a { 
            position: relative;
            display: block;
            text-decoration: none;
            color: var(--dark);
            margin: 10px 0 0 0;

            .arrow {
                position: absolute;
                top: 0;
                left: 40%;
            }
        }

        @media screen and (min-width: 768px) {
            width: 450px;

            .project-title {
                font-size: 36px;
            }
        }

        @media screen and (min-width: 1024px) {
            width: 240px;
            padding: 0;

            .project-title {
                text-transform: lowercase;
            }
        }
    }
}

.row {
    flex-direction: column;
    
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.row-reverse {
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
    }
}