.landing {
    .landing-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 10vh 0;
        height: 70vh;

        .landing-title{
            font-family: var(--cursive);
            font-size: 48px;
            font-weight: 400;
            text-align: center;
            margin: 0;
            color: var(--dark);
        }

        .landing-secondary {
            max-width: 328px;
            font-size: 18px;
            text-align: center;
            margin: 32px 0;
            color: var(--blue);
        }
    }
}