.project {
    position: relative;
    transition: all .25s ease-in-out;

    .project-title {
        margin: 0;
        text-transform: lowercase;
        cursor: pointer;
    }

    .project-info {
        .project-bio {
            width: 90%;
            color: var(--blue);

            @media only screen and (min-width: 768px) {
                width: 350px;
            }
        }

        .project-links {
            .project-link {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                color: var(--dark);

                .arrow {
                    position: absolute;
                    top: 2px;
                }

                &:nth-of-type(1) {
                    margin: 0 60px 50px 0;
                }
            }
        }
    }

    .heroku-warning {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: initial;
            position: absolute;
            width: 416px;
            top: -25%;
            left: 35%;
            color: var(--dark);
            opacity: .2;
    
            .heroku-warning-title {
                font-size: 36px;
                font-weight: 400;
            }
    
            p {
                font-size: 18px;
                margin: 0;
            }
        }
    }
}

.move-project {
    margin: 30px 0 0 0;
}