.work-samples {
    .work-samples-title {
        font-family: var(--cursive);
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        text-transform: lowercase;
        color: var(--blue);
    }

    .projects-container{
        width: 922px;
        margin: 92px auto;

        .project-container {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
    
            .project-image {
                width: 461px;
                height: 461px;
                background-position: center;
                background-size: cover;
            }

            .project {
                width: 240px;

                .project-title {
                    width: 240px;
                    font-family: var(--cursive);
                    font-size: 36px;
                    font-weight: 400;
                    text-transform: lowercase;
                    color: var(--dark);
                    margin-top: 0;
                    margin-left: 0;
                }

                .project-desc {
                    width: 240px;
                    font-size: 14px;
                    margin: 22px 0 40px 0;
                    color: var(--blue);
                }

                a { 
                    position: relative;
                    display: block;
                    text-decoration: none;
                    color: var(--dark);
                    margin: 10px 0 0 0;

                    .arrow {
                        position: absolute;
                        top: 0;
                        left: 40%;

                    }
                }
            }

            &:nth-of-type(2n) {
                flex-direction: row;
            }
        }
    }
}