.work-samples {
    .work-samples-title {
        font-family: var(--cursive);
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        text-transform: lowercase;
        color: var(--blue);

        @media screen and (min-width: 768px) {
            font-size: 64px;
        }
    }

    .projects-container{
        width: 90%;
        margin: 92px auto;

        @media screen and (min-width: 1024px) {
            width: 800px;
        }

        @media screen and (min-width: 1280px) {
            width: 922px;
        }
    }

    .view-all {
        font-weight: 400;
        margin: 0 0 123px 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--dark);
        cursor: pointer;
    }
}