.work-samples {
    .work-samples-title {
        font-family: var(--cursive);
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        text-transform: lowercase;
        color: var(--blue);
    }

    .projects-container{
        width: 922px;
        margin: 92px auto;
    }

    .view-all {
        font-weight: 400;
        margin: 0 0 123px 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--dark);
        cursor: pointer;
    }
}