@import url('https://fonts.googleapis.com/css2?family=Alata&family=Yeseva+One&display=swap');

:root {
    --cursive: 'Yeseva One', cursive;
    --sans: 'Alata', sans-serif;
    --light: #fff;
    --dark: #131315;
    --blue: #747585;
    --highlight: #ff0f3f;
}

body {
    font-family: var(--sans);
}
